@(page: String, isLoggedIn: Boolean, sp:Int, userInfo: UserInfo, serviceUsers: List [ServiceUser])

@import bootstrap3._


@Main(page, isLoggedIn, sp, userInfo) {
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2> Service User Info</h2>
        <table class="table">
          <tr>
            <th>UserId</th>
            <th>Requested Keywords</th>
            <th>Finished Projects</th>
            <th>Ongoing Projects</th>
          </tr>
          @for(user <- serviceUsers) {
            <tr>
              <td>@user.getUserId</td>
              <td>@user.getRequested_keywords</td>
              <td>@user.getFinished_projects</td>
              <td>@user.getOngoing_projects</td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
}